<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <!-- N A V   B A R -->

  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">State Facts</a></li>
        <li role="presentation"><a href="gun_laws.html">History of Gun Laws Passed</a></li>
        <li role="presentation" class="active"><a href="about.html">About</a></li>
        <li role="presentation"><a href="sources.html">Sources</a></li>
      </ul>
    </div>
    
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Team Members</h1>
                    <br>
                    <p>Jay Mandavia</p>
                    <p>Charles Nguyen</p>
                    <p>Michael Rubio</p>
                    <p>Holly Winslow</p>
                    <br>
                    
                    <h3>Published On</h3>
                    <p>03/08/18</p>
                    
                    <h3>Last Updated On:</h3>
                    <p>03/17/18</p>
                </div>
        </div>

    <script>

    </script>

</body>
</html>
