<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <!-- N A V   B A R -->

  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">State Facts</a></li>
        <li role="presentation" class="active"><a href="gun_laws.html">History of Gun Laws Passed</a></li>
        <li role="presentation"><a href="about.html">About</a></li>
        <li role="presentation"><a href="sources.html">Sources</a></li>
      </ul>
    </div>
    
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Understanding the Effect of Gun Laws by State</h1>
                    <div class="row">
                        <img src="us-map-2016.png" alt="Gun Law Score" style="width:1000px;height:600px;">
                    </div>
                    <div class="row">
                        <div align="right">
                            <p>
                                <strong>Image Source: </strong>
                                <a href="http://lawcenter.giffords.org/scorecard2016/">Gun Law State scorecard2016</a>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Gun Sales Before and After Gun Laws Were Passed</h3>
                    <br>
                    <br>
                    <div class="row">
                        <img src="coming-soon-PNG.png" alt="Coming Soon Image" style="width:400px;height:200px;">
                    </div>

                </div>
            </div>

    <script>

    </script>

</body>
</html>
