<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <!-- N A V   B A R -->

  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">State Facts</a></li>
        <li role="presentation"><a href="gun_laws.html">History of Gun Laws Passed</a></li>
        <li role="presentation"><a href="about.html">About</a></li>
        <li role="presentation" class="active"><a href="sources.html">Sources</a></li>
      </ul>
    </div>
    
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
<h1>Data Sources</h1>
<br>
<p><a href="https://github.com/BuzzFeedNews/2017-11-gun-sales-estimates/blob/master/index.Rmd">Gun Sales Estimates by State by Year (1998-2017)</a></p>
<p><a href="https://github.com/fivethirtyeight/data/tree/master/murder_2016">Homicide by Gun (2015-2017)</a></p>
<p><a href="https://www.kaggle.com/zusmani/us-mass-shootings-last-50-years/data">Mass-shooting Number of Incidents and Victim Count (1966-2017)</a></p>
<p><a href="https://deathpenaltyinfo.org/murder-rates-nationally-and-state#nat1970">Murder Rates by State by Year (1996-2017)</a></p>
<p><a href="https://www.statefirearmlaws.org/table.html">History of Gun Laws Passings (1991-2017)</a></p>
<p><a href="http://lawcenter.giffords.org/scorecard/">Gun Law State Scorecard (2017)</a></p>


                </div>
        </div>

    <script>

    </script>

</body>
</html>
